@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main{
  background-image: url('/img/Aboutimg.jpeg');  
  background-repeat: no-repeat;
  background-size: 100%;

}

header,footer{
  background-color: rgb(182, 182, 182);
  height: 6em;
}

.logo-title{
  font-size: 50px;
  float: left;
  padding: 9px 80px 2px 40px;
}

.logo-title-footer{
  font-size: 50px;
  float: right;
  padding: 9px 40px 2px 40px;

}

.header-list {
  position: relative;
}

.header-list li{
  list-style: none;
  float: left;
  padding: 35px 20px;
}

.header-list-last{
  position: absolute;
  right: 30;
}

.header-list-last-second{
  list-style: none;
  position: absolute;
  padding: 0 20px;
  right: 110;
}

/* ホーム画面 */
/* タイトル */
.About-title{
  font-size: 100px;
  padding: 30px;
}

/* スクロールアニメーション */
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
    to {
    transform: translateX(-100%);
  }
  }
  .scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
  }


  .scroll-infinity__wrap li{
    padding: 20px;
    background-color: rgba(251, 251, 251, 0.11);
    
  }
  .scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0
  }
  .scroll-infinity__list--left {
    animation: infinity-scroll-left 80s infinite linear 0.5s both;
  }
  .scroll-infinity__item {
    width: calc(100vw / 6);
  }
  .scroll-infinity__item>img {
    width: 100%;
  }

/* 企業様向けメニュー */
.company-div{
  background-color: #ededed;
  margin-top: 40px;
  padding: 40px;
}

.company-title{
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.company-button{
  text-align: center;
}

.company-signup{
  width: 200px;
  height: 100px;
  background-color: rgb(213, 255, 150);
  font-size: 20px;
  border-radius: 15px;
  margin-right: 100px;
}

.company-mypage{
  width: 200px;
  height: 100px;
  background-color: #61caff;
  font-size: 20px;
  border-radius: 15px;
}

/* ログイン画面 */
.login-div{
  height: 50em;
}

.login-title{
  font-size: 40px;
  padding: 20px 0 30px 50px;
}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 400px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.61);
  padding: 20px;
}

input{
  width: 100%;
  height: 26px;
  outline: thick double #000000;
  background-color: #ffffff;
  padding: 10px ;
  font-size: 16px;
}

.login-button{
  background-color: rgb(183, 255, 255);
  width: 90px;
  height: 40px;
  display: block;
  margin: 15 auto;
}

/* ログアウトモーダル */
.modal-back{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.623);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal{
  padding: 24px;
  background-color: #b6e5fd;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.modal-title{
  padding-bottom: 20px;
}

.modal-cancel{
  border : 3px solid #505cfa;
  margin-right: 40px;
  padding: 10px;
  border-radius: 10px;
}

.modal-comfirm{
  border : 3px solid #fa5050;
  padding: 10px;
  border-radius: 10px;
}